body {
    padding: 0;
    margin: 0;
    background-color: rgb(192, 205, 206);
}

/* Language */

#lan {
    background-color: #536966;
    margin: auto auto 50px auto;
}

.language {
    border: none;
    background-color: #536966;
    cursor: pointer;
    padding: 15px;
    color: white;
}

.language:hover {
    background-color: #92b6b1;
    color: black;
}

.hidden {
    color: #7f9794;
}

/* Container */

#container {
    background-color: rgb(231, 237, 238);
    width: 300px;
    padding: 10px;
    margin: auto;
    border-radius: 10%;
}

#title {
    text-align: center;
    font-size: 25px;
}

.button {
    height: 25px;
    background-color: #738582;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    
}

#forward, #backward, #start-stop {
    width: 50%;
    margin: 10px;
}

#up, #bottom, #run {
    text-align: center;
}

#right, #left {
    width: 25%;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

#right {
    float: right;
}

#left {
    float: left;
    
}

#image {
    height: 150px;
    width: 50%;
}

/* border: 3px solid green; */